@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 12px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color: #201E1E;
    padding: 110px 0 0 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #2C2F5B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}


.logo img {
    height: 50px;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    list-style-type: none;
}

.buy {
    border: none;
    position: relative;
    font-size: large;
    font-weight: bolder;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    background-color: #ED3237;
    color: #fff;
    cursor: pointer;
}

.menu-list {
    color: white;
    font-family: 'Franklin Gothic Book';
    font-size: 16px;
}

.menu-list a {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    column-gap: 10px;
    background-color: #f0eeee;
}

.news-head {
    font-size: 1.8rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 40px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px #aaa;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.news-container {
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.news-list {
    border-radius: 5px;
    position: relative;
    height: 400px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 3px 10px black;
    cursor: pointer;
}

.news-list:hover img {
    transform: scale(1.2);
}

.news-list img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}


.news-details {
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 5px solid #ED3237;
    padding: 10px;
}

.news-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.time {
    font-size: 15px;
}

.source {
    text-align: right;
    bottom: 10px;
    right: 15px;
    font-weight: bold;
}

.source span {
    font-size: 15px;
    color: #ED3237;
}

aside {
    padding: 10px;
    background-color: #cacdff;
}

.recent-news {
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.recent-list a {
    display: grid;
    background-color: #fff;
    grid-template-columns: 2fr 4fr;
}

.recent-list a img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center center;
}

.about {
    width: 100%;
    padding: 30px 0;
    background-color: #fceff0;
    display: grid;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.about::before {
    content: 'ABOUT US';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 5px #ed323857;
    transform: translate(-50%, -50%);
    transition: rotate(45%);
    font-size: 15rem;
}

.slide-images {
    max-width: 450px;
    border: 1.5rem solid #eeeefc48;
    position: relative;
}

.image {
    display: 
    none;
}

.real {
    display: block;
}

.image img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.slide-images:hover .prev,
.slide-images:hover .next
{
    display: flex;
}

.prev,
.next {
    position: absolute;
    padding: 3px;
    width: 10%;
    height: 100%;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.prev {
    left: 0;
    top: 0;
}

.next {
    right: 0;
    top: 0;
}

.slider-bar {
    bottom: 5px;
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    margin: 15px;
    padding: 10px;
    height: 10px;
    width: 10px;
    content: ' ';
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
}

.img-on {
    background-color: rgb(48, 48, 48);
}

.recent-title {
    font-size: 18px;
    color: #201E1E;
    font-weight: 600;
}

footer {
    width: 100%;
    background-color: #2C2F5B;
    color: white;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

footer img {
    width: 150px;
}

@media (min-width: 750px) {
    .news-container {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 600px) and (max-width: 850px) {
        .recent-news {
            grid-template-columns: 1fr 1fr;
        }
}

@media (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 400px;
    }

    .news-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 500px;
    }

    .news-container {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
